<%- include("header.ejs") %>


    <form action="" method="POST">
      <label for="title">Post title</label>
      <input type="text" id="title">
      <label for="blogText">Compose new post</label>
      <input type="text" id="blogText">
    </form>

<%- include("footer.ejs") %>