<%- include("partials/header.ejs") %>

<div class="header">
  <h2>Hi, I'm 
    <%= user.firstName  %>
  </h2>
</div>

<% if(user.admin) {%>
<button action="/create" method="GET" type="button">
  <a href="/create">Create new post</a>
</button>
<% } %>

<form action="/createpost" method="POST">
  <input type="text" id="postText" placeholder="Start writing...">
  <input type="submit" value="Create post" />
</form>



<%- include("partials/footer.ejs") %>
