<%- include("../partials/header.ejs") %>
<div class="container">

<h1 class="page-titles ">About My blog</h1>
<div class="about-text">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti in aut, dicta eaque hic, nulla magnam, non mollitia quasi ratione ipsa exercitationem quo ab accusamus minus excepturi ut ipsum repellendus.</p>
 <p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo enim eligendi, dolorum nemo non, sunt in asperiores consequatur eum obcaecati pariatur autem ratione fugiat? Modi repellat a rerum distinctio placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse magnam pariatur odit enim ipsa? Odio quam at vel, ex quisquam, saepe accusamus qui, quae totam suscipit maxime. Molestiae, natus?
 </p><p>
 Laborum rerum quia adipisci consectetur quidem illo voluptas doloribus aut recusandae perspiciatis ad, ab incidunt, assumenda labore! Nesciunt sit sint sed dicta?
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo enim eligendi, dolorum nemo non, sunt in asperiores consequatur eum obcaecati pariatur autem ratione fugiat? Modi repellat a rerum distinctio placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse magnam pariatur odit enim ipsa? Odio quam at vel, ex quisquam, saepe accusamus qui, quae totam suscipit maxime. Molestiae, natus?
 </p></div>
</div>
<%- include("../partials/footer.ejs") %>