<%- include("../partials/header.ejs") %>
<body>
  <ul>
    <% articles.forEach(article => {%>
      <li><h2>
        <%= article.title %>
      </h2>
      <p>
        <%= article.content %>
      </p>
    </li>
    <hr/>
      <% }) %>
     
  </ul>
</body>

<%- include("../partials/footer.ejs") %>