<%- include("../partials/header.ejs") %>

<div class="container">
  <div class="row mt-3 contact-row">
    <div class="col md-6 d-flex flex-column align-items-center justify-content-between">
      
      <h2 class="page-titles">Contact me</h2>
    <div><a href="https://www.google.com/maps/" target="_blank" class="link-secondary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 6-9 13-9 13s-9-7-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg></a> Some Address 23</div>

<div> <a href="tel:0123456789" class="text-decoration-none"><img src="icons/phone-call.png" alt="" class="contact-icons ">0123456789</a></div>
<div><a href="mailto:recipient@example.com?subject=Hello&body=How are you?"><img src="icons/mail.png" alt="" class="contact-icons"></a>recipient@example.com</div>

</div>
    <div class="col md-6 d-flex flex-column align-items-center justify-content-between">
      <h2 class="page-titles">Follow me</h2>
      <div> <a href="https://www.instagram.com/" target="_blank"><img src="icons/instagram.png" alt="" class="contact-icons"></a>my_blog_instagram</div>
      <div><a href="https://www.facebook.com/" target="_blank"><img src="icons/facebook.png" alt="" class="contact-icons"></a> My Blog</div>
      <div> <a href="https://www.pinterest.com/" target="_blank"><img src="icons/pinterest.png" alt="" class="contact-icons"></a>MyBlogBoards</div>
    </div>
  </div>
  
</div>
<%- include("../partials/footer.ejs") %>

    

