<%- include("../partials/header.ejs") %>
<h1 class="page-titles">Contact me</h1>
<div class="container">
<p><a href="#" class="link-secondary"> <img src="/public/icons/home.png" alt="" width="20px" height="20px"> </a> some adress 23</p>
</div>
<%- include("../partials/footer.ejs") %>