<%- include("../partials/header.ejs") %>
<h1 class="page-titles">Contact me</h1>
<div class="container d-flex-column align-items-center">
<p><a href="#" class="link-secondary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 6-9 13-9 13s-9-7-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg></a> Some Adress 23</p>
<p> <a href="tel:0123456789" class="text-decoration-none"><img src="icons/phone-call.png" alt="" class="contact-icons ">0123456789</p></a>
<p><a href="mailto:recipient@example.com?subject=Hello&body=How are you?"><img src="icons/mail.png" alt="" class="contact-icons"></a>recipient@example.com</p>
<p> <a href="https://www.instagram.com/"><img src="icons/instagram.png" alt="" class="contact-icons"></a>my_blog_instagram</p>
</div>
<%- include("../partials/footer.ejs") %>

    

