<%- include("../partials/header.ejs") %>

<div class="header">
  <h2>Hi, I'm 
    <%= user.firstName  %>
  </h2>
</div>

<% if(user.admin) {%>
<button action="/create" method="GET" type="submit" >
  <a href="/create">Create new post</a>
</button>
<% } %>

<%- include("../partials/footer.ejs") %>
