* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 1.8rem;
  text-align: center;
  background: white;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.page-titles{
  font-family: SFMono-Regular;
  font-weight: 300;
  font-style: italic;
  text-align: center;
    margin-top: 3rem;
  margin-bottom: 2rem;
}

.welcome-message{
  font-size: 1rem;
}

/*Create new post */
.post-form{
  width: 500px;
}

.post-title, .content, #postBtn{
  margin: 15px;
 
}

#postTitle, #content{
  width: 100%;
}

/* Articles page*/
.articles-container{
  width: 80%;
  margin: auto;
  overflow: hidden;
 
}

.article{
  width: 100%;
 
}

.read-more {

  padding: 5px;
 
}


.contact-icons{
  height: 20px;
  padding-right: 10px;
  opacity: 0.7;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}